{{#if session.isAuthenticated}}
  <button {{ action 'invalidateSession' }}>Sign out</button>
{{else}}
  <button {{action "authenticate" "github-oauth2"}}>Sign in with Github</button>
{{/if}}

{{outlet}}
